*.py[cod]
*.bak

# mkdocs build directory
docs/site/*

# LaTeX stuff
*.aux
*.log
*.toc

# KiCad stuff
pcb/_autosave*

# Cookiecutter
output/
boilerplate/

# Stuff we want to keep
!*.vhd
!*.vhdl
!*.v
!*.xise
!*.ucf
!*.pro
!*.sch
!*.kicad_pcb
!*.lib
!*.jpg
!*.png
!*.sty
!*.tex
!*.md
!*.yml
!*.ico
